node_modules
.vscode
.env
yarn-error.log

#Hardhat files
cache
artifacts

#Python artifacts
__pycache__
.pytest_cache

#Starknet plugin
starknet-artifacts

# OSX
.DS_Store

# venv
cairo_venv

# No package-lock.json. Use yarn.lock
package-lock.json